body{
  font-family: 'Open Sans',sans-serif;
  color:#333;
  background:#eee;
}
a{
  color:#333;
  text-decoration: none;
  transition:0.3s ease-out all;
}
a:hover{
  color:#f68b1f;
  text-decoration: none;
}

.mm-bg-color{
  background:#f68b1f;
}
.mm-text-color{
  color:#f68b1f;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Hind',sans-serif;
    margin-top:0px;
}
/********************************************************************************************
*********************************************************************************************
*********************************************************************************************
=header
********************************************************************************************
********************************************************************************************
********************************************************************************************/
#header-wrapper{
  background: #333;
}
#header-inner{

}
#logo img{
  width:350px;
  padding:15px 0;
}
#header-inner nav{
  font-family: 'Hind',sans-serif;
  margin-top:35px;
}
#header-inner nav.hidden-xs{
  float:right;
}
#header-inner nav.hidden-xs ul{
  padding:0px;
}
#header-inner nav.hidden-xs ul li{
  list-style: none;
  display: inline-block;
}
#header-inner nav.hidden-xs ul li a{
  font-size:16px;
  margin-left:15px;
  padding:5px 10px;
  color:white;
}
#header-inner nav.hidden-xs ul li a:hover{
  color:#f68b1f;
}
/********************************************************************************************
*********************************************************************************************
*********************************************************************************************
=content
********************************************************************************************
********************************************************************************************
********************************************************************************************/
#content-wrapper{
  padding-top:30px;
}
#content-inner{

}
.page-title{
  background:white;
  padding:30px 30px 15px 30px;
  margin-bottom:30px;
}
#content-inner .col-sm-4{
  background:white;
  padding:30px;
  border-color:#eee;
  border-style: solid;
} 
#content-inner .col-sm-4:first-child{
  border-right-width: 20px;
}
#content-inner .col-sm-4:nth-child(2){
  border-left-width: 10px;
  border-right-width: 10px;
}
#content-inner .col-sm-4:nth-child(3){
  border-left-width: 20px;
}
.widget h2{
  padding-bottom:5px;
  border-bottom:1px solid #ddd;
  margin-bottom:15px;
}
.widget a{
  font-size:18px;
}
.widget a .glyphicon{
  color:#f68b1f;
  margin-right:15px;
}

/********************************************************************************************
*********************************************************************************************
*********************************************************************************************
=footer
********************************************************************************************
********************************************************************************************
********************************************************************************************/
#footer-wrapper{

}
#footer-inner{

}

/********************************************************************************************
*********************************************************************************************
*********************************************************************************************
=misc
********************************************************************************************
********************************************************************************************
********************************************************************************************/

